.works-section {
  .back-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 20;
    padding: 50px;
  }
  
  .next-icon {
    position: absolute;
    top: calc( 50% - 200px);
    right: 50px;
    width: 200px;
    z-index: 20;
    padding: 100px;

    @media screen and (max-width: 900px) {
      top: calc(50% - 100px);
      right: 0;
      padding: 0;
      width: 150px;
    }
  }

  .last-icon {
    position: absolute;
    top: calc(50% - 200px);
    left: 50px;
    width: 200px;
    z-index: 20;
    padding: 100px;

    @media screen and (max-width: 900px) {
      top: calc(50% - 100px);
      left: 0;
      padding: 0;
      width: 150px;
    }
  }
}