@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.about-section {
  color: white;
  font-size: 1.6em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;

  p {
      font-size: 24px;
      line-height: 150%;
      @media screen and (max-width: 900px) {
        font-size: 16px;
      }
    }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 50%;
    margin-left: 100px;
    @media screen and (max-width: 900px) {
      margin-left: 0;
      width: 90%;
    }
  }
  
  &__title {
    color: #11dbab;
    line-height: 2em;
    margin-bottom: 0.4em;
    opacity: 0.8;
    border-bottom: 1px solid #11dbab;
    text-shadow: 0 0 2px lighten(#11dbab, 20%);
    text-transform: uppercase;
    text-align: start;
  }

  &__box {
    display: flex;
    flex-direction: column;

    transition: transform 0.2s ease, opacity 0.2s ease, box-shadow 0.2s ease;
    padding: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }


    &__flicker {
      animation-name: about-section-flicker;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  
    &__flicker-lite {
      animation-name: about-section-flicker-lite;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &__glowbox {
      background-color: rgba(17, 219, 171, 0.21);
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
      box-shadow: 0 0 5px #11dbab;
      border-width: 1px;
      border-style: solid;
      border-color: #11dbab;
      border-radius: 10px;
    }

    &__glowtext {
      color: #11dbab;
      line-height: 2em;
      text-shadow: 0px 0px 4px #11dbab;
    }
}

@keyframes about-section-glowing {
  0% {
    box-shadow: 0 0 2px 1px #11dbab;
    opacity: 1;
  }

  13% {
    box-shadow: 0 0 8px 1px #11dbab;
    opacity: 0.9;
  }

  20% {
    box-shadow: 0 0 2px 1px #11dbab;
    opacity: 1;
  }

  27% {
    box-shadow: 0 0 8px 1px #11dbab;
    opacity: 0.9;
  }

  34% {
    box-shadow: 0 0 5px 1px #11dbab;
    opacity: 1;
  }

  40% {
    box-shadow: 0 0 8px 1px #11dbab;
    opacity: 0.9;
  }

  48% {
    box-shadow: 0 0 3px 1px #11dbab;
    opacity: 1;
  }

  55% {
    box-shadow: 0 0 9px 1px #11dbab;
    opacity: 0.9;
  }

  62% {
    box-shadow: 0 0 5px 0 #11dbab;
    opacity: 1;
  }

  100% {
    box-shadow: 0 0 8px 0 #11dbab;
  }
}

@keyframes about-section-flicker {
  0% {
    opacity: 1;
  }

  13% {
    opacity: 0.3;
  }

  23% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.3;
  }

  38% {
    opacity: 0.9;
  }

  45% {
    opacity: 0.7;
  }

  53% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes about-section-flicker-lite {
  0% {
    opacity: 1;
  }

  13% {
    opacity: 0.9;
  }

  30% {
    opacity: 1;
  }

  38% {
    opacity: 0.9;
  }

  45% {
    opacity: 1;
  }

  53% {
    opacity: 0.9;
  }

  60% {
    opacity: 1;
  }

  67% {
    opacity: 0.9;
  }

  73% {
    opacity: 1;
  }

  82% {
    opacity: 0.9;
  }

  90% {
    opacity: 1;
  }

  93% {
    opacity: 0.9;
  }

  97% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}