@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap');
.homepage-name {
  /* Base font size */
  font-size: 10px;

  /* Set neon color */
  --neon-text-color: rgb(255, 133, 233);
  --neon-border-color: rgb(0, 255, 195);

  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  z-index: 10;

  position: fixed;
  left: 50px;
  top: 0;

  touch-action: none;

  @media screen and (max-height: 900px) {
      left: 0;
    }

  @media screen and (orientation: portrait) {
    flex-direction: row;
    height: auto;
    top: 10px;
    left: 0;
    width: 100%;
  }

    h1 {
      text-align: center;
      padding-top: calc(50% - 40px);
      padding-right: 10px;
      z-index: 10;
      background: black;
      font-size: 3rem;
      font-weight: 900;
      font-style: italic;
      color: #fff;
      width: 120px;
      height: 100px;
      border: 0.4rem solid #fff;
      border-radius: 2rem;
      text-transform: uppercase;
      animation: title-flicker 1.5s infinite alternate;
      margin-top: 0;
      @media screen and (max-height: 900px) and (orientation: landscape) {
        font-size: 24px;
        padding: 0px 10px;
        width: 30px;
        height: 50px;
        line-height: 50px;
        border-radius: 20px;
      }
  
      @media screen and (orientation: portrait) {
        font-size: 24px;
        padding: 0px 10px;
        width: 50px;
        height: 70px;
        border-radius: 20px;
        margin: 5px;
        line-height: 70px;
        font-size: 2.5rem;
      }
    }
}